.item {
  min-width: 100px;
  min-height: 100px;
  background-color: blue;
  margin: 5px;
  color: white;
  text-align: center;
  line-height: 60px;
}

.container {
  border: solid red 1px;
  height: 100%;
}
