[align],
[h-align],
[layout],
[reverse],
[v-align] {
  display: flex; }

[align^="center"], [v-align="center"] {
  align-items: center; }
  [align^="center"][layout="col"], [v-align="center"][layout="col"] {
    justify-content: center; }

[align^="top"], [v-align="top"] {
  align-items: flex-start; }
  [align^="top"][layout="col"], [v-align="top"][layout="col"] {
    justify-content: flex-start; }
  [align^="top"][layout="col"][reverse], [v-align="top"][layout="col"][reverse] {
    justify-content: flex-end; }

[align^="bottom"], [v-align="bottom"] {
  align-items: flex-end; }
  [align^="bottom"][layout="col"], [v-align="bottom"][layout="col"] {
    justify-content: flex-end; }
  [align^="bottom"][layout="col"][reverse], [v-align="bottom"][layout="col"][reverse] {
    justify-content: flex-start; }

[align$="center"], [h-align="center"] {
  justify-content: center; }
  [align$="center"][layout="col"], [h-align="center"][layout="col"] {
    align-items: center; }

[align$="left"], [h-align="left"] {
  justify-content: flex-start; }
  [align$="left"][reverse], [h-align="left"][reverse] {
    justify-content: flex-end; }
  [align$="left"][layout="col"], [h-align="left"][layout="col"] {
    align-items: flex-start; }

[align$="right"], [h-align="right"] {
  justify-content: flex-end; }
  [align$="right"][reverse], [h-align="right"][reverse] {
    justify-content: flex-start; }
  [align$="right"][layout="col"], [h-align="right"][layout="col"] {
    align-items: flex-end; }

[space="between"] {
  justify-content: space-between !important; }

[space="around"] {
  justify-content: space-around !important; }

[layout="row"] {
  flex-direction: row; }
  [layout="row"][reverse] {
    flex-direction: row-reverse; }

[layout="col"] {
  flex-direction: column; }
  [layout="col"][reverse] {
    flex-direction: column-reverse; }

[reverse] {
  flex-direction: row-reverse; }

[size],
[order] {
  display: flex; }

[size="0"] {
  flex: 0; }

[order="-10"] {
  order: -10; }

[size="5"] {
  flex: 0.05; }

[order="-9"] {
  order: -9; }

[size="10"] {
  flex: 0.1; }

[order="-8"] {
  order: -8; }

[size="15"] {
  flex: 0.15; }

[order="-7"] {
  order: -7; }

[size="20"] {
  flex: 0.2; }

[order="-6"] {
  order: -6; }

[size="25"] {
  flex: 0.25; }

[order="-5"] {
  order: -5; }

[size="30"] {
  flex: 0.3; }

[order="-4"] {
  order: -4; }

[size="35"] {
  flex: 0.35; }

[order="-3"] {
  order: -3; }

[size="40"] {
  flex: 0.4; }

[order="-2"] {
  order: -2; }

[size="45"] {
  flex: 0.45; }

[order="-1"] {
  order: -1; }

[size="50"] {
  flex: 0.5; }

[order="0"] {
  order: 0; }

[size="55"] {
  flex: 0.55; }

[order="1"] {
  order: 1; }

[size="60"] {
  flex: 0.6; }

[order="2"] {
  order: 2; }

[size="65"] {
  flex: 0.65; }

[order="3"] {
  order: 3; }

[size="70"] {
  flex: 0.7; }

[order="4"] {
  order: 4; }

[size="75"] {
  flex: 0.75; }

[order="5"] {
  order: 5; }

[size="80"] {
  flex: 0.8; }

[order="6"] {
  order: 6; }

[size="85"] {
  flex: 0.85; }

[order="7"] {
  order: 7; }

[size="90"] {
  flex: 0.9; }

[order="8"] {
  order: 8; }

[size="95"] {
  flex: 0.95; }

[order="9"] {
  order: 9; }

[size="100"] {
  flex: 1; }

[order="10"] {
  order: 10; }

:not([order]) {
  order: 100; }

@media screen and (max-width: 1920px) {
  [layout-lg="row"] {
    flex-direction: row; }
    [layout-lg="row"][reverse] {
      flex-direction: row-reverse; }

  [layout-lg="col"] {
    flex-direction: column; }
    [layout-lg="col"][reverse] {
      flex-direction: column-reverse; }

  [v-align-lg="center"] {
    align-items: center; }

  [v-align-lg="top"] {
    align-items: flex-start; }

  [v-align-lg="bottom"] {
    align-items: flex-end; }

  [h-align-lg="center"] {
    justify-content: center; }

  [h-align-lg="left"] {
    justify-content: flex-start; }
    [h-align-lg="left"][reverse] {
      justify-content: flex-end; }
    [h-align-lg="left"][layout="col"] {
      align-items: flex-start; }

  [h-align-lg="right"] {
    justify-content: flex-end; }
    [h-align-lg="right"][reverse] {
      justify-content: flex-start; }
    [h-align-lg="right"][layout="col"] {
      align-items: flex-end; }

  [align-lg="center center"],
  [align-lg="center"] {
    justify-content: center;
    align-items: center; }

  [align-lg="top left"] {
    align-items: flex-start;
    justify-content: flex-start; }
    [align-lg="top left"][reverse] {
      justify-content: flex-end; }
    [align-lg="top left"][layout="col"] {
      align-items: flex-start; }

  [align-lg="bottom left"] {
    align-items: flex-end;
    justify-content: flex-start; }
    [align-lg="bottom left"][reverse] {
      justify-content: flex-end; }
    [align-lg="bottom left"][layout="col"] {
      align-items: flex-start; }

  [align-lg="top right"] {
    align-items: flex-start;
    justify-content: flex-end; }
    [align-lg="top right"][reverse] {
      justify-content: flex-start; }
    [align-lg="top right"][layout="col"] {
      align-items: flex-end; }

  [align-lg="bottom right"] {
    align-items: flex-end;
    justify-content: flex-end; }
    [align-lg="bottom right"][reverse] {
      justify-content: flex-start; }
    [align-lg="bottom right"][layout="col"] {
      align-items: flex-end; } }
@media screen and (max-width: 1280px) {
  [layout-md="row"] {
    flex-direction: row; }
    [layout-md="row"][reverse] {
      flex-direction: row-reverse; }

  [layout-md="col"] {
    flex-direction: column; }
    [layout-md="col"][reverse] {
      flex-direction: column-reverse; }

  [v-align-md="center"] {
    align-items: center; }

  [v-align-md="top"] {
    align-items: flex-start; }

  [v-align-md="bottom"] {
    align-items: flex-end; }

  [h-align-md="center"] {
    justify-content: center; }

  [h-align-md="left"] {
    justify-content: flex-start; }
    [h-align-md="left"][reverse] {
      justify-content: flex-end; }
    [h-align-md="left"][layout="col"] {
      align-items: flex-start; }

  [h-align-md="right"] {
    justify-content: flex-end; }
    [h-align-md="right"][reverse] {
      justify-content: flex-start; }
    [h-align-md="right"][layout="col"] {
      align-items: flex-end; }

  [align-md="center center"],
  [align-md="center"] {
    justify-content: center;
    align-items: center; }

  [align-md="top left"] {
    align-items: flex-start;
    justify-content: flex-start; }
    [align-md="top left"][reverse] {
      justify-content: flex-end; }
    [align-md="top left"][layout="col"] {
      align-items: flex-start; }

  [align-md="bottom left"] {
    align-items: flex-end;
    justify-content: flex-start; }
    [align-md="bottom left"][reverse] {
      justify-content: flex-end; }
    [align-md="bottom left"][layout="col"] {
      align-items: flex-start; }

  [align-md="top right"] {
    align-items: flex-start;
    justify-content: flex-end; }
    [align-md="top right"][reverse] {
      justify-content: flex-start; }
    [align-md="top right"][layout="col"] {
      align-items: flex-end; }

  [align-md="bottom right"] {
    align-items: flex-end;
    justify-content: flex-end; }
    [align-md="bottom right"][reverse] {
      justify-content: flex-start; }
    [align-md="bottom right"][layout="col"] {
      align-items: flex-end; } }
@media screen and (max-width: 960px) {
  [layout-sm="row"] {
    flex-direction: row; }
    [layout-sm="row"][reverse] {
      flex-direction: row-reverse; }

  [layout-sm="col"] {
    flex-direction: column; }
    [layout-sm="col"][reverse] {
      flex-direction: column-reverse; }

  [v-align-sm="center"] {
    align-items: center; }

  [v-align-sm="top"] {
    align-items: flex-start; }

  [v-align-sm="bottom"] {
    align-items: flex-end; }

  [h-align-sm="center"] {
    justify-content: center; }

  [h-align-sm="left"] {
    justify-content: flex-start; }
    [h-align-sm="left"][reverse] {
      justify-content: flex-end; }
    [h-align-sm="left"][layout="col"] {
      align-items: flex-start; }

  [h-align-sm="right"] {
    justify-content: flex-end; }
    [h-align-sm="right"][reverse] {
      justify-content: flex-start; }
    [h-align-sm="right"][layout="col"] {
      align-items: flex-end; }

  [align-sm="center center"],
  [align-sm="center"] {
    justify-content: center;
    align-items: center; }

  [align-sm="top left"] {
    align-items: flex-start;
    justify-content: flex-start; }
    [align-sm="top left"][reverse] {
      justify-content: flex-end; }
    [align-sm="top left"][layout="col"] {
      align-items: flex-start; }

  [align-sm="bottom left"] {
    align-items: flex-end;
    justify-content: flex-start; }
    [align-sm="bottom left"][reverse] {
      justify-content: flex-end; }
    [align-sm="bottom left"][layout="col"] {
      align-items: flex-start; }

  [align-sm="top right"] {
    align-items: flex-start;
    justify-content: flex-end; }
    [align-sm="top right"][reverse] {
      justify-content: flex-start; }
    [align-sm="top right"][layout="col"] {
      align-items: flex-end; }

  [align-sm="bottom right"] {
    align-items: flex-end;
    justify-content: flex-end; }
    [align-sm="bottom right"][reverse] {
      justify-content: flex-start; }
    [align-sm="bottom right"][layout="col"] {
      align-items: flex-end; } }
@media screen and (max-width: 600px) {
  [layout-xs="row"] {
    flex-direction: row; }
    [layout-xs="row"][reverse] {
      flex-direction: row-reverse; }

  [layout-xs="col"] {
    flex-direction: column; }
    [layout-xs="col"][reverse] {
      flex-direction: column-reverse; }

  [v-align-xs="center"] {
    align-items: center; }

  [v-align-xs="top"] {
    align-items: flex-start; }

  [v-align-xs="bottom"] {
    align-items: flex-end; }

  [h-align-xs="center"] {
    justify-content: center; }

  [h-align-xs="left"] {
    justify-content: flex-start; }
    [h-align-xs="left"][reverse] {
      justify-content: flex-end; }
    [h-align-xs="left"][layout="col"] {
      align-items: flex-start; }

  [h-align-xs="right"] {
    justify-content: flex-end; }
    [h-align-xs="right"][reverse] {
      justify-content: flex-start; }
    [h-align-xs="right"][layout="col"] {
      align-items: flex-end; }

  [align-xs="center center"],
  [align-xs="center"] {
    justify-content: center;
    align-items: center; }

  [align-xs="top left"] {
    align-items: flex-start;
    justify-content: flex-start; }
    [align-xs="top left"][reverse] {
      justify-content: flex-end; }
    [align-xs="top left"][layout="col"] {
      align-items: flex-start; }

  [align-xs="bottom left"] {
    align-items: flex-end;
    justify-content: flex-start; }
    [align-xs="bottom left"][reverse] {
      justify-content: flex-end; }
    [align-xs="bottom left"][layout="col"] {
      align-items: flex-start; }

  [align-xs="top right"] {
    align-items: flex-start;
    justify-content: flex-end; }
    [align-xs="top right"][reverse] {
      justify-content: flex-start; }
    [align-xs="top right"][layout="col"] {
      align-items: flex-end; }

  [align-xs="bottom right"] {
    align-items: flex-end;
    justify-content: flex-end; }
    [align-xs="bottom right"][reverse] {
      justify-content: flex-start; }
    [align-xs="bottom right"][layout="col"] {
      align-items: flex-end; } }
@media screen and (max-width: 350px) {
  [layout-xxs="row"] {
    flex-direction: row; }
    [layout-xxs="row"][reverse] {
      flex-direction: row-reverse; }

  [layout-xxs="col"] {
    flex-direction: column; }
    [layout-xxs="col"][reverse] {
      flex-direction: column-reverse; }

  [v-align-xxs="center"] {
    align-items: center; }

  [v-align-xxs="top"] {
    align-items: flex-start; }

  [v-align-xxs="bottom"] {
    align-items: flex-end; }

  [h-align-xxs="center"] {
    justify-content: center; }

  [h-align-xxs="left"] {
    justify-content: flex-start; }
    [h-align-xxs="left"][reverse] {
      justify-content: flex-end; }
    [h-align-xxs="left"][layout="col"] {
      align-items: flex-start; }

  [h-align-xxs="right"] {
    justify-content: flex-end; }
    [h-align-xxs="right"][reverse] {
      justify-content: flex-start; }
    [h-align-xxs="right"][layout="col"] {
      align-items: flex-end; }

  [align-xxs="center center"],
  [align-xxs="center"] {
    justify-content: center;
    align-items: center; }

  [align-xxs="top left"] {
    align-items: flex-start;
    justify-content: flex-start; }
    [align-xxs="top left"][reverse] {
      justify-content: flex-end; }
    [align-xxs="top left"][layout="col"] {
      align-items: flex-start; }

  [align-xxs="bottom left"] {
    align-items: flex-end;
    justify-content: flex-start; }
    [align-xxs="bottom left"][reverse] {
      justify-content: flex-end; }
    [align-xxs="bottom left"][layout="col"] {
      align-items: flex-start; }

  [align-xxs="top right"] {
    align-items: flex-start;
    justify-content: flex-end; }
    [align-xxs="top right"][reverse] {
      justify-content: flex-start; }
    [align-xxs="top right"][layout="col"] {
      align-items: flex-end; }

  [align-xxs="bottom right"] {
    align-items: flex-end;
    justify-content: flex-end; }
    [align-xxs="bottom right"][reverse] {
      justify-content: flex-start; }
    [align-xxs="bottom right"][layout="col"] {
      align-items: flex-end; } }
@media screen and (min-width: 1920px) {
  [layout-xl="row"] {
    flex-direction: row; }
    [layout-xl="row"][reverse] {
      flex-direction: row-reverse; }

  [v-align-xl="center"] {
    align-items: center; }

  [v-align-xl="top"] {
    align-items: flex-start; }

  [v-align-xl="bottom"] {
    align-items: flex-end; }

  [h-align-xl="center"] {
    justify-content: center; }

  [h-align-xl="left"] {
    justify-content: flex-start; }
    [h-align-xl="left"][reverse] {
      justify-content: flex-end; }
    [h-align-xl="left"][layout="col"] {
      align-items: flex-start; }

  [h-align-xl="right"] {
    justify-content: flex-end; }
    [h-align-xl="right"][reverse] {
      justify-content: flex-start; }
    [h-align-xl="right"][layout="col"] {
      align-items: flex-end; } }

/*# sourceMappingURL=flex-css-all.css.map */
