#demo {
  width:700px;
  height:700px;
  border: 2px solid #f441a6;
  margin: 10px;
}

#demo div {
  width:98px;
  height:98px;
  background-color:#4286f4;
  color:white;
  line-height:100px;
  text-align:center;
  border: solid rgba(0, 0, 0, 0.3); 1px;
}

.config {

}

body {
  display: flex;
}

.alignment-box {
  width: 130px;
  height:130px;
}

.alignment-box input {
  width:40px;
  height:40px;
  margin: 0px;
}
